{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card text-center">
            <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                    <img src="{% static 'logo.webp' %}" class="rounded-circle" width="100" alt="Logo">
                    <h2>Connect</h2>
                </div>
                <a href="{% provider_login_url 'google' %}?next=/" class="btn btn-outline-info">
                    Login with Google
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
