{% extends "home/base.html" %}

{% block posts %}
    <a href="{% url 'summary' %}" class="btn btn-primary">Summary</a>
    {% for post in posts %}
        <div class="post card p-3 m-3">
            <h5 class="card-title">@{{ post.author.username }}
                {% if post.verified %}
                    <span class="tick-badge" >Verified</span>
                {% endif %}
            </h5>
            <p class="card-text">{{ post.created_at }}</p>
            <p class="card-text">Sentiment -
                {% if post.sentiment > 0 %}
                    <span class="text-success">
                                            {% widthratio post.sentiment 1 100|floatformat:0 %}% Positive</span>
                {% else %}
                    <span class="text-danger">
                                            {% widthratio post.sentiment 1 -100|floatformat:0 %}% Negative</span>
                {% endif %}
            </p>
            <hr>
            <p class="mb-2">{{ post.content }}</p>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Post Image">
                {% if post.caption %}
                    <p><b>Caption:</b> {{ post.caption }}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
