{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-2" href="/"><h3>Connect</h3></a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- User Card Section -->
            <div class="col-md-3">
                <div class="card d-flex align-items-center p-3 m-3">
                    <img {% if user.profile.image %} src="{{ user.profile.image.url }}"{% else %}
                                                     src="{% static 'home/avatar.png' %}" {% endif %}
                                                     height="100" width="100" alt="User Image">
                    <div class="card-body w-100">
                        <h5 class="card-title">@{{ user.username }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                    </div>
                    <button type="button" class="btn btn-secondary my-1" data-toggle="modal"
                            data-target="#faceVerifyModal">
                        Verify Face
                    </button>
                    <form method="post" action="/accounts/logout/">
                        {% csrf_token %}
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>

            <!-- Feed Section -->
            <div class="col-md-9 row">
                <div class="col-2"></div>
                <div class="feed col-8">
                    <div class="full-height">
                        {% for post in posts %}
                            <div class="post card p-3 m-3">
                                <h5 class="card-title">@{{ post.author.username }}</h5>
                                <p class="card-text">{{ post.created_at }}</p>
                                <p class="card-text">Sentiment -
                                    {% if post.sentiment > 0 %}
                                        <span class="text-success">
                                            {% widthratio post.sentiment 1 100|floatformat:0 %}% Positive</span>
                                    {% else %}
                                        <span class="text-danger">
                                            {% widthratio post.sentiment 1 -100|floatformat:0 %}% Negative</span>
                                    {% endif %}
                                </p>
                                <hr>
                                <p>{{ post.content }}</p>
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" alt="Post Image">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post" enctype="multipart/form-data" action="{% url 'create_post' %}"
                          class="border-1 p-3 border-dark-subtle rounded-1 row bottom-pane m-3">
                        {% csrf_token %}
                        <div class="col-10">
                            <div class="form-group">
                                <label for="message">Message:</label>
                                <textarea class="form-control" id="message" name="message" required></textarea>
                            </div>
                            <div class="form-group mt-2">
                                <label for="image" class="text-bold btn btn-outline-secondary">Upload Image</label>
                                <input type="file" id="image" name="image">
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>

    <!-- Modal for Face Verification -->
    <div class="modal fade" id="faceVerifyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 680px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Verify Your Identity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="webcam" autoplay width="640" height="480"></video>
                    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="verifyButton">Verify</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock %}

{% block script %}
    <script>
        const modal = $("#faceVerifyModal");

        modal.on('shown.bs.modal', function () {
            const video = document.getElementById('webcam');
            navigator.mediaDevices.getUserMedia({video: true})
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(error => console.error('Error:', error));
        });

        modal.on('hidden.bs.modal', function () {
            const video = document.getElementById('webcam');
            const stream = video.srcObject;
            const tracks = stream.getTracks();
            tracks.forEach(track => track.stop());
            video.srcObject = null;
        });

        const video = document.getElementById('webcam');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const verifyButton = document.getElementById('verifyButton');

        verifyButton.addEventListener('click', function () {
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/png');
            fetch('/verify/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({image_data: imageData})
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    if (data.message === 'User verified successfully.') {
                        window.location.href = '/'; // Redirect to home if verified
                    }
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}
