{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand p-2" href="/"><h3>Guider</h3></a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- User Card Section -->
            <div class="col-md-3">
                <div class="card d-flex align-items-center p-3 m-3">
                    <img src="{% static '/home/avatar.png' %}" height="100" width="100" alt="User Image">
                    <div class="card-body w-100">
                        <h5 class="card-title">@{{ user.username }}</h5>
                        <p class="card-text">{{ user.email }}</p>
                    </div>
                    <form method="post" action="/accounts/logout/">
                        {% csrf_token %}
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>

            <!-- Feed Section -->
            <div class="col-md-9">
                <div class="feed h-75">
                    {% for post in posts %}
                        <div class="post">
                            <h5>{{ post.title }}</h5>
                            <p>{{ post.content }}</p>
                            <img src="{{ post.image_url }}" alt="Post Image" style="width:100%;">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" class="border-1 p-3 border-dark-subtle rounded-1 row bottom-pane">
        {% csrf_token %}
        <div class="col-10">
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" name="message"></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="image" class="text-bold btn btn-outline-secondary">Upload Image</label>
                <input type="file" id="image" name="image">
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">Post</button>
        </div>
    </form>
{% endblock content %}

{% block footer %}
{% endblock %}

{% block script %}
{% endblock %}
