#google_translate_element {
    top: unset;
    left: 10px;
    bottom: 10px;
}

input[type=file]::file-selector-button {
    display: none;
}

.bottom-pane {
    position: fixed;
    bottom: 10px;
    left: calc(50% - 150px);
    width: max(50%, 300px);
}
