body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#google_translate_element {
    top: unset;
    left: 10px;
    bottom: 10px;
}

input[type=file]::file-selector-button {
    display: none;
}

.bottom-pane {
    background-color: floralwhite;
}

.post img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.full-height {
    height: calc(100vh - 290px);
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
